/* Wrapper */
.auth-wrapper {
  background: #f8f9fa;
}

/* LEFT SIDE */
.auth-left {
  background: url('https://images.unsplash.com/photo-1544177817-454e1238e05f?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
  position: relative;
}

.auth-left .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* opsional: sedikit gelap */
}

.auth-logo {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.auth-form-header {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertikal center di area header */
  align-items: center;    /* horizontal center */
  text-align: center;
  margin-bottom: 1rem;    /* jarak ke form */
  min-height: 150px;       /* tinggi area header */
}


/* FORM CONTROLS */
.form-control,
.custom-input {
  height: 40px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #004F36;
  border-radius: 10px;
  padding: 0 15px;
  background-color: #ffffff;
  color: #004F36;
  transition: 0.3s;
}

.custom-input:focus,
.custom-input:hover {
  border-color: #004F36; /* pastikan tetap hijau */
  box-shadow: 0 0 16px rgba(0, 79, 54, 0.3);
  outline: none;
}



/* BUTTON */
.btn-success {
  background: #004F36;
  color: #ffffff;
  border: 1px solid #004F36;
  height: 40px;
  transition: 0.3s;
  display: flex;           /* flex untuk center */
  align-items: center;     /* vertikal center */
  justify-content: center; /* horizontal center */
}

.btn-success:hover {
  background: #ffffff;
  color: #004F36;
}

/* TEXT COLORS */
.text-primary-custom {
  color: #004F36;
}
.text-secondary-custom {
  color: #ffffff;
}
.text-accent-custom {
  color: #F6F0D7;
}
